{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post" class="col-md-4 mx-auto">


    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <h1 class="h3 mt-2 mb-2 font-weight" style="font-size: 5em">Connexion</h1>
        <div>
            <label for="inputEmail" style="color: rgb(64, 64, 92);">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="toto@gmail.fr" required autofocus>
            {% if error %}
                {% if (error.messageKey == "Email non trouvé") %} 
                <small class="badge badge-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</small>
                {% endif %}
            {% endif %}
        </div>
        <div>
          <label for="inputPassword" class="mt-4" style="color: rgb(64, 64, 92);">Mot de passe</label>
          <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Veuillez entrer votre mot de passe" required>

            {% if error %}
                 {% if (error.messageKey == "Invalid credentials.") %} 
                    <div class="badge badge-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            {% endif %}

        </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <div class="text-center mt-5">
        <input type="submit" class="col-lg-4 btn btn-lg btn-success shadow text-center mb-2 " value="Se connecter">
        <a class="col-lg-4 btn btn-lg btn-primary shadow mb-2" href="{{path('app_register')}}">S'inscrire</a>
    </div>

</form>
{% endblock %}
