{% extends "base.html.twig" %}

{% block title %}
	Fiche recette
{% endblock %}

{% block h1 %}
	{{recette.titre}}
{% endblock h1 %}

{% block body %}
	<div class="row">
		<div class="col-4">
			<img href="{{ recette.image }}"></img>
		<p>{{ recette.description }}</p>
	</div>

	<div class="col-8">
		<p>
			{{recette.preparation}}</p>
	</div>
</div>

{% if is_granted("ROLE_ADMIN") %}
	<a href="{{ path("recette") }}">
		<i class="fa fa-reply"></i>
		Retour à la liste
	</a>
{% else %}
	<a href="{{ path("home") }}">
		<i class="fa fa-reply"></i>
		Retour à l'accueil
	</a>
{% endif %}{% endblock %}
