{% extends 'base.html.twig' %}

{% block title %}Fiche recette
{% endblock %}

{% block body %}
<div class="container bg-trans">
	<h1>Fiche recette</h1>
	{% set urls = asset("img/")  %}
	
	<h2 class="text-dark">{{ recette.titre}} </h2>

	<img class="image-recette" src="{{ urls ~ recette.image }}" alt="">
	<p class="bg-light p-2"> {{ recette.description }}</p>

	<h3 class="alert text-dark">Publié par {{ recette.membre.Pseudo |capitalize}}</h3>




	<div class="row mt-2">
		<ul class="list-group col-lg-4 mb-2">
			<li class="list-group-item list-group-item-info">Nous avons besoin de :</li>
			{% for ingredient in recette.packIngredients %}

			<li class="list-group-item"><i class="fa fa-check" aria-hidden="true"></i>
				{{ ingredient.quantite }} {{ ingredient.unite }} -> {{ ingredient.libelle }} 
			</li>
			{% endfor %}
			{% if recette.vente == true %}
			<li class="list-group-item text-center">Prix du Pack Ingredients : {{recette.prix}} € </li>
			<a href="{{path('ajout_panier', {"id":recette.id})}}" class="btn btn-primary">Acheter le pack</a>
			{% endif %}
		</ul>

		<ul class="list-group col-lg-8 ">
			<li class="list-group-item list-group-item-info">Preparation </li>
			<li class="list-group-item">{{ recette.preparation }}</li>
		</ul>

	</div>


</div>


{% endblock %}
