{% extends 'base.html.twig' %}

{% block title %}Nouvelle Recette
{% endblock %}

{% block body %}
<div class="container">
	<h1>Nouvelle recette</h1>

	{{ form_start(formRecette) }}
	{{ form_row(formRecette.titre) }}
	{{ form_row(formRecette.description) }}
	{{ form_row(formRecette.image) }}
	{{ form_row(formRecette.categorie) }}
	{{ form_row(formRecette.preparation) }}
	{{ form_row(formRecette.pack_ingredient) }}
	{# 
			    {{ form_row(formRecette.membre) }}
			#}

</div>
	<button type="submit" class="btn btn-primary">Enregistrer</button>
	{{ form_end(formRecette) }}


{% endblock %}
