{% extends 'base.html.twig' %}

{% block title %}Fiche recette
{% endblock %}

{% block body %}
<div class="container bg-trans">
    <h1>Toutes les recettes</h1>

    {% for recette in liste_recettes %}
        
    <div class="row bg-trans rounded-lg mt-2 mb-2">
        <div class="col-3">
            <div style="width:100%; height:20vh; overflow:hidden">
                <img src="{{ asset("img/" ~ recette.image )}}" style="width:100%; margin: 0 0;"/>
            </div>
        </div>
        
        <div class="col-lg-8 conteneur-pack">
           
                <h5 class="card-title mt-2 ">{{ recette.titre }}</h5>
                <p class="card-text text-dark">{{recette.description}}</p>
                {% if recette.vente == true %}
                <div class="">
                    <p class="en-vente font-weight-bold">Pack Ingredients : <span class="bagde badge-warning rounded"> {{ recette.prix }} € </span></p>
                </div>
                {% endif %}
                <a href="{{ path('fiche_recette', {"id":recette.id})}}" class="btn btn-info mb-2 my-0">Voir la recette</a>

        
        </div>
    </div>
    
    {% endfor %}

</div>


{% endblock %}
