{% extends 'base.html.twig' %}

{% block title %}Recettes
{% endblock %}

{% block body %}
	<h1 class="gros-titre">Recettes</h1>
    <div class="container">
	<table class="table table-bordered">

		<thead class="thead-dark text-uppercase">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Titre</th>
				<th scope="col ">description</th>
				<th scope="col">image</th>
				<th scope="col">categorie</th>
				<th scope="col">preparation</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>

			{% for recette in liste_recettes %}
				<tr>
					<td>
						{{ recette.id }}
					</td>
					<td>
						{{ recette.titre }}
					</td>
					<td>
						{{ recette.description }}
					</td>
					<td>
						{{ recette.image }}
					</td>
					<td>
						{{ recette.categorie }}
					</td>
					<td>
						{{ recette.preparation }}
					</td>
					<td>
						<a href="{{ path("recette_fiche", { id: recette.id }) }}">
							<i class="fa fa-guitar"></i>
						</a>
						<a href="{{ path("recette_modifier", { id: recette.id }) }}">
							<i class="fa fa-edit"></i>
						</a>

						<a onclick="return confirm('Voulez-vous supprimer cet utilisateur?')" href="{{ path("recette_supprimer", { id: recette.id }) }}">
							<i class="fa fa-trash"></i>
						</a>

					</td>
				</tr>
			{% endfor %}
		</tbody>

	</table>
</div>


{% endblock %}
