{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<style>
    span{font-family: inherit!important; color: inherit; font-size: inherit;}
</style>
<div class="container">
    <h1>Contact</h1>

    {% for type, messages in app.flashes %}
    <div class="alert alert-{{ type }} text-center">
        {% for message in messages %}
            {{ message | raw }}
        {% endfor %}
    </div>
    {% endfor %}

    <div class="col-lg-6 mx-auto bg-trans rounded">
    {{form_start(formContact)}}
    
    {{form_widget(formContact)}}
        <button class="btn btn-success mb-2" type="submit">Envoyer</button>
    {{form_end(formContact)}}
    </div>
</div>

{% endblock %}
