
  <div id="wrapper">


    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

 
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('accueil') }}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">BALU BackOffice</div>
      </a>

  
      <hr class="sidebar-divider my-0">


      <li class="nav-item active">
        <a class="nav-link" href="{{path('backoffice')}}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Tableau de bord</span></a>
      </li>


      <hr class="sidebar-divider">


      <div class="sidebar-heading">
        Interface blog
      </div>


      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-user"></i>
          <span>Membres</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Gestion membres:</h6>
            <a class="collapse-item" href="{{ path('liste_membre')}}">Tous les membres</a>
            <a class="collapse-item" href="{{ path('liste_membre_admin')}}">Administrateurs</a>
            <a class="collapse-item" href="{{ path('liste_membre_membre')}}">Membres</a>
          </div>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fa fa-th-list"></i>
          <span>Recettes</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Recettes</h6>
            <a class="collapse-item" href="{{ path('admin_liste_recette')}}">Toutes les recettes</a>
            <a class="collapse-item" href="{{ path('categorie_recette')}}">Ajout categorie</a>
            <a class="collapse-item" href="{{ path('souscategorie')}}">Ajout sous categorie</a>
          </div>
        </div>
      </li>


      <hr class="sidebar-divider">

  
      <div class="sidebar-heading">
        Interface commerce
      </div>

 
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-euro-sign"></i>
          <span>Commandes</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Gestion</h6>
            <a class="collapse-item" href="{{path('liste_commande')}}">Toutes les commandes</a>
            <a class="collapse-item" href="{{path('liste_commande_livre')}}">Commande livrée</a>
            <a class="collapse-item" href="{{path('liste_commande_encours')}}">Commande en cours</a>
          </div>
        </div>
      </li>

   
      <li class="nav-item">
        <a class="nav-link" href="{{path('liste_commentaire')}}">
          <i class="fa fa-comments"></i>
          <span>Commentaires</span></a>
      </li>

    
      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fas fa-fw fa-table"></i>
          <span>Credits</span></a>
      </li>
  
            <hr class="sidebar-divider d-none d-md-block">

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
    
     
          <div id="content">
    
         
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
              </button>
    
    
              <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="GET" action="{{ path ("recherche_membre_admin") }}">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" name ="nom" placeholder="Rechercher un membre" aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
    
      
              <ul class="navbar-nav ml-auto">
    
     
           
                {% if app.user %}
                <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.getPseudo() |capitalize}} </span>
                        <i class="fa fa-user"></i>
                    </a>
              
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{{ path('fiche_membre',{"id":app.user.getId()})}}">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profil
                        </a>
                        <a class="dropdown-item" href="{{ path('modifier_membre',{"id":app.user.getId()})}}">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            Modifier
                        </a>
                        
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Deconnexion
                        </a>
                    </div>
                </li>
                {% endif %}
    
              </ul>
    
            </nav>
   