
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: whitesmoke; color: rgb(64, 64, 92);">
  <a class="navbar-brand"  href="{{path('accueil')}}">BALU !</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
          {# <li class="nav-item">
            <a class="nav-link" href="{{ path ("recette") }}">Recettes</a>
          </li> #}

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Catégories 
        </a>


        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                               <!-- menu est une variable globale défini dans twig.yaml  -->
                               <!-- liste_categorie_global est la fonction qui fait appel à la base de donnee dans le controlleur -->
            {% for categorie in menu.liste_categorie_global %}
              <a class="dropdown-item" href="{{ path('recettesdupays',{"idPays":categorie.id}) }}">{{categorie.categorie}}</a>
            {% endfor %}  

        </div>
 
      </li>


  {% if is_granted("IS_AUTHENTICATED_FULLY") %}
  
    <li class="nav-item">
      <a class="nav-link" href="{{ path ("ajouter_recette") }}">Partager une recette</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ path ("panier") }}">
        Panier</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ path ("recette") }}">
        Toutes les recettes</a>
    </li>

  {% endif %}
   
    </ul>

    <ul class="navbar-nav">

        {% if not is_granted("IS_AUTHENTICATED_FULLY") %}

        <li class="nav-item"><a class="nav-link" href="{{ path('app_register')}}"><i class="fa fa-user-plus"></i> Inscription</a></li>
        <li class="nav-item"><a class="nav-link" href="{{path('app_login')}}"> <i class="fa fa-sign-in-alt"></i>  Connexion</a></li>

        {% endif %}

        {% if is_granted("IS_AUTHENTICATED_FULLY") %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i>   {{app.user.prenom|capitalize}}</a>
  
  
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

              <a class="nav-link" href="{{path('fiche_utilisateur')}}"><i class="fa fa-user"></i>   Mon compte</a>

              <a class="nav-link" href="{{ path('app_logout')}}"><i class="fa fa-sign-out-alt"></i>   Deconnexion</a>
              
              {% if is_granted("ROLE_ADMIN") %}
             
              <a class="nav-link" href="{{ path ("backoffice") }}"><i class="fa fa-cog"></i>   BackOffice</a>
          
              {% endif %}
  
          </div>
   
        </li>

        {% endif %}




    </ul>


    <form class="form-inline my-2 my-lg-0" action="{{ path ("recherche") }}" method="GET">
      <input class="form-control mr-sm-2" name="mot" type="search" placeholder="Recherche.." aria-label="Search" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
  </div>
</nav>