
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{path('accueil')}}">BALU !</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
          {# <li class="nav-item">
            <a class="nav-link" href="{{ path ("recette") }}">Recettes</a>
          </li> #}

          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Recettes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Française</a>
          <a class="dropdown-item" href="#">Italienne</a>
          <a class="dropdown-item" href="#">Turque</a>
          <a class="dropdown-item" href="#">Africaine</a>
          <a class="dropdown-item" href="#">Chinoise</a>
          <a class="dropdown-item" href="#">Indienne</a>
        </div>
      </li>

  {% if is_granted("IS_AUTHENTICATED_FULLY") %}
  
    <li class="nav-item">
      <a class="nav-link" href="{{ path ("ajouter_recette") }}">Ajouter Recettes</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ path ("panier") }}">
        Panier</a>
    </li>

  {% endif %}
   
    </ul>


    <ul class="navbar-nav">
        {% if is_granted("ROLE_ADMIN") %} 
        <li class="nav-item">
            <a class="nav-link" href="{{ path ("backoffice") }}">
            <i class="fa fa-cog"></i>
            BackOffice</a>
        </li>
        {% endif %}
        {% if not is_granted("IS_AUTHENTICATED_FULLY") %}

            <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register')}}">
            <i class="fa fa-user-plus"></i>
            Inscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_login')}}">
          <i class="fa fa-sign-in-alt"></i>
          Connexion</a>
        </li>

        {% endif %}


        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout')}}">
          <i class="fa fa-sign-out-alt"></i>
          Deconnexion</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
          <i class="fa fa-user"></i>
          {{app.user.Pseudo|capitalize}}</a>
        </li>


        {% endif %}

    </ul>

    <form class="form-inline my-2 my-lg-0" action="{{ path ("recherche") }}" method="GET">
      <input class="form-control mr-sm-2" name="mot" type="search" placeholder="Recherche.." aria-label="Search" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
  </div>
</nav>