<a href="{{ path('app_login') }}">Login</a>
<a href="{{ path('app_logout') }}">Logout</a>
<a href="{{ path('app_register') }}">Inscription</a>
<a href="{{ path('liste_recette') }}">Recette</a>
<a href="{{ path('ajouter_recette') }}">ajouter Recette</a>
<a href="{{ path('liste_membre') }}">Liste membre</a>
<p>Cette nav est un brouillon dans navbrouillon.html.twig</p>