{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<h1>Mes commandes</h1>



<div class="container-fluid">

    <div class="row tableaudebord ">


      <div class="col-md-10 mx-auto ">
        <div class="card shadow mb-4 bg-trans">
 
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Ma commande: <h5 class=""> REF : {{commande.id}} du {{commande.date|date("d/m/Y")}}</h5></h6>
          </div>
      
          <div class="card-body">

            <table class="table table-bordered text-dark bg-trans">

                <thead class="thead-dark text-uppercase text-center">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Recette</th>
                        <th scope="col ">Prix</th>
                        <th scope="col">Quantite</th>
                        <th scope="col">Montant</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in commande.detailcommandes %}
                        <tr>
                            <td> {{ detail.id }} </td>
                            <td> Ref: {{ detail.recette.id }} - 
                                {{ detail.recette.titre }}
                            </td>
                            <td class="text-right"> {{ detail.recette.prix }} </td>
                            <td class="text-right"> {{ detail.quantite }} </td>
                            <td class="text-right"> {{ detail.prix }} €</td>
                        
                        </tr>
                        
      
                    {% endfor %}
                </tbody>
                <tfoot>
                 
                        <tr >
                            <th colspan="4" class="text-right">
                                Total :
                            </th>
                            <th class="text-right border-top ">{{ commande.montant }} €</th>
                           
                        </tr>
                   
                    
                </tfoot>
        
            </table>
              
          </div>
        </div>
        <a href="{{path('commande_utilisateur')}}"  class="btn btn-info shadow-sm mb-2">Retour</a>
      </div>


    </div>
</div>

{% endblock %}
